[submodule "client"]
	path = client
	url = https://github.com/mgomezdev1/critter-caravan-client.git
[submodule "server"]
	path = server
	url = https://github.com/mgomezdev1/critter-caravan-server.git
